<!DOCTYPE html>
<html>
	<head>
		<title> ERROR </title>
	</head>
	<body>
		<h3>Please check the url for any errors.
			If correct, please refresh after 5 minutes.
			Thanks :) 
		</h3>
		<br><br>
		<p> while you're waiting, here's a cat figuring out how to
		use an escalator...</p>
		<a href="http://www.hilariousgifs.com/cat-is-confused-by-how-escalators-work/" target="_blank"><img src="http://i.hilariousgifs.com/cat-confused-escalator.gif" border="0" alt="Image and video hosting by HilariousGIFs.com" /></a>
	</body>
</html>
