<!DOCTYPE html>
<html>
	<head>
		<title>Ticket Info</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		Created: {{ ticket_info['created_at'] }}
		<br>
		Updated last: {{ ticket_info['updated_at'] }}
		<br><br>
		<table border="1">
			<tr>
				<th>Ticket ID</th>
				<td>{{ ticket_info['id'] }}</td>
			</tr>
			<tr>
				<th>Type</th>
				<td>{{ ticket_info['type'] }}</td>
			</tr>
			<tr>
				<th>Priority</th>
				<td>{{ ticket_info['priority'] }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ ticket_info['status'] }}</td>
			</tr>
			<tr>
				<th>Subject</th>
				<td>{{ ticket_info['subject'] }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ ticket_info['description'] }}</td>
			</tr>
			<tr>
				<th>Submitted by</th>
				<td>{{ ticket_info['submitter_id'] }}</td>
			</tr>
			<tr>
				<th>Assigned to</th>
				<td>{{ ticket_info['assignee_id'] }}</td>
			</tr>
			<tr>
				<th>Collaborators</th>
				<td>{{ ticket_info['collaborators'] }}</td>
			</tr>
			<tr>
				<th>Tags</th>
				<td>{{ ticket_info['tags'] }}</td>
			</tr>
		</table>
		<br><br>
		<form class='back_to_list_btn' action="{{ url_for('ticket_list_page', page_num=page_num) }}">
    		<input type="submit" value="Back to ticket list" />
		</form>
	</body>
</html>