<!DOCTYPE html>
<html lang="en">
	<head>
		<title>₍˄·͈༝·͈˄*₎◞ ̑̑  KatsuCat Ticket Viewer</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<h1>Ticket list</h1>
		<p> {{ ticket_list|length }} tickets:</p>

		<ul>
			{% for ticket in ticket_list %}
				<a href="{{ url_for('single_ticket', page_num=page_num, ticket_id=ticket['id']) }}">
					<div class=ticket>{{ ticket['subject'] }}</div>
				</a>
			{% endfor %}
		</ul>
		<br>
		{% if next_pg %}
		<form class='navigation_btn' action="{{ url_for('ticket_list_page', page_num=page_num+1) }}">
    		<input type="submit" value="Next" />
		</form>
		{% endif %}
		{% if prev_pg %}
		<form class='navigation_btn' action="{{ url_for('ticket_list_page', page_num=page_num-1) }}">
    		<input type="submit" value="Back" />
		</form>
		{% endif %}
	</body>
</html>
